@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #e22865, #37adcd);
    color: white;
}

.container {
    width: 95%;
    margin: auto;
}

.todolist h2 {
    font-size: 27px;
    margin: 5px 1px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 17%;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}

.user input {
    width: 30%;
    height: 38px;
    background: white;
    font-size: 20px;
    outline: none;
    text-align: center;
    margin-left: 885px;
    border-radius: 5px;
}

.user button {
    border-radius: 5px;
    height: 37px;
    width: 5%;
    background: rgb(51, 47, 47);
    color: #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-left: 1209px;
}

.user button:hover {
    background: linear-gradient(45deg, rgb(226, 116, 116) 40%, rgb(204, 202, 57) 100%);
    color: rgb(84, 233, 108);
}

.list {
    margin: 5px 0;
    padding: 20px;
}

.done {
    margin: 5px 0;
    padding: 20px;
}

ol {
    list-style: none;
}

h3 {
    text-align: center;
    color: rgb(228, 228, 100);
}

.done h3 {
    color: rgb(124, 233, 124);
}

li {
    width: 35%;
    padding: 7px;
    margin: 5px 0;
    font-size: 20px;
    background: #afd654;
    border-radius: 10px;
    margin-left: 400px;
    color: black;
}

.done li {
    background: rgb(77, 211, 117);
    text-decoration: line-through;
}

li button {
    float: right;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    margin-right: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}